<!-- views/fruits/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= fruit.name %></title> <!-- Dynamic title based on fruit name -->
  </head>
  <body>
    <h1><%= fruit.name %></h1> <!-- Display fruit name -->
    
    <!-- Conditional rendering based on fruit's readiness -->
  <% if (fruit.isReadyToEat) { %>
    <p><b><em>This fruit is ready to eat!</p></b></em>
  <% } else { %>
    <p><b><em>This fruit is not ready to eat!</p></b></em>
  <% } %>
   <div class="fruit-actions">
   <form
     class="delete-form"
     action="/fruits/<%=fruit._id%>?_method=DELETE"
     method="POST"
   >
     <button class="delete-button" type="submit">
       Delete <%= fruit.name %>
     </button>
   </form>
   <a class="edit-link" href="/fruits/<%= fruit._id %>/edit">
     <div class="edit-text">Edit <%= fruit.name %></div>
   </a>
 </div>

    <!-- Add more details about the fruit here -->
  </body>
 <!-- edit.ejs / show.ejs -->

 <a class="fruits-index-link" href="/fruits">
   <div class="index-link-text">Fruits</div>
 </a>

   <!-- edit.ejs / show.ejs -->

 <a class="fruits-index-link" href="/">
   <div class="index-link-text">Home</div>
 </a>

    <!-- edit.ejs / show.ejs -->

 <a class="fruits-index-link" href="/fruits/new">
   <div class="index-link-text">Add New Fruit</div>
 </a>

</html>
